*{
    padding: 0;
    margin: 0;
}
.nav .choose{
display: flex;
justify-content: space-between;



}
.nav .choose ul {
    /* background-color: aqua; */
display: flex;
justify-content: flex-start;
list-style: none;
margin-top: 13px;
padding-left: 115px;
/* color: #5f687b; */
font-weight: 700;
    color: #6a7489;
font-weight: 600px;
}
.nav .choose ul li {
    margin: 10px;
    margin-top: 17px;
    
}

.nav .choose ul a {
    /* border:1px solid ;
    border-radius: 5px;
    font-size: larger;
    background-color: white; */
    padding: 10px 25px;
     margin-top: 0px; 
    border-radius: 4px;
    line-height: 1;
    color: rgba(white, white, white,);
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #cdd1d9;
    align-items: center;
    text-decoration: none;
    
    
}
.nav .choose ul a:hover{
    background-color: blue;

}
   

.nav .choose .logo{
    font-weight: bold;
    font-size: 30px;
    margin-right:100px ;
    margin-top: 20px;

}
.row{
    /* background-color: blue; */
   width: 100%;
   margin: auto;
   padding-left: 80px;
  
  
   /* padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem); */
}
.two{
    padding-top: 10px;
    padding-right:100px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    margin: auto;
    margin-top: 0px;
    

}

.two .image{
    width: 40%;
   /* background-color: aqua; */
    /* background-color: red; */
    
    height: auto;
}
.two .image img{
    text-align: center;
    padding-top: 0px;
    margin: top 0; ;
    width:100% ; 
    height: 100%;

}

.two .breif{
    width:50% ;
    
    /* background-color: aqua; */
    /* text-align: center; */
    /* background-color: aqua; */
}

.two .breif h1{
font-size: 44px;
color: rgba(black, black, black, 0.1);
margin-top: 110px;
direction: rtl;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 800;

}
.two .breif p{
   direction: rtl;
    font-size: 24px;
    font-weight: bold;
    margin: 0px 10px 0px 15px;
    color: #5f687b

}
.two .breif a{
    padding: 10px 29px;
    margin-top: 0px; 
   border-radius: 1px  ;
   line-height: 1;
  color: #cdd1d9;
   font-size: 16px;
   font-weight: 500;
   border: 1px solid ;
   align-items: center;
   text-decoration: none;
   float: right
   ;
   margin-top: 25px;
   background-color: #01b8dc;
   box: shadow 5px #01b8dc; ;
   
}
.two .breif a:hover{
    background-color: blue;

}
.why{
    width: 90%;
    margin: auto;
    /* max-width: 720px; */

}
.three{
padding: 25px;
display: flex;
justify-content: space-evenly;
/* flex-wrap: wrap; */

}
.col{
    width: 45%;
}
.three  .col .check{
padding: 20px;
border: 1px solid #f9f9fa;
border-radius: 4px;
background-color:#f9f9fa ;

}
.three .check h1{
   margin-bottom: 20px;
}
.three .check i{
/* float: right; */
direction: rtl;
padding-left: 520px;
color: #01b8dc;
}
.three .check h2{
    /* float: right; */
    direction: rtl;
    /* font-size: larger; */
    margin-top: 8px;
    color: #858ea1;

    font-size: 18px;
}
.three .check p{
    margin-top: 8px;
    direction: rtl;
    margin-bottom: 55px;
    line-height: 24px;
    font-size: 14px;
}
.three .col2{
    width: 45%;
}
.three .lap{
    padding: 20px;
    border: 1px solid #f9f9fa;
border-radius: 4px;
background-color:#f9f9fa ;
}
.three .lap h1 {
    margin-bottom: 20px; 
}
.three .lap i{
    direction: rtl;
    padding-left: 520px;
    color: #01b8dc;
}
.three .lap h2{
    direction: rtl;
    /* font-size: larger; */
    margin-top: 8px;
    color: #858ea1;
}
.three .lap p{
    margin-top: 8px;
    direction: rtl;
    margin-bottom: 55px;
    line-height: 24px;
    font-size: 14px;
}
.fourth{
    width: 90%;
    margin: auto;
}

.four{
    padding: 25px;
display: flex;
}
.four .who{
    width: 50%;
}
.four .who h1{
    margin-bottom: 20px; 
    direction: rtl;
    color: #858ea1;
    font-size: 36px;
}
.four .who p{
    margin-top: 8px;
    direction: rtl;
    margin-bottom: 55px;
    line-height: 24px;
    /* font-size: 14px; */
    font-size: 17px;
}
.four .photo{
    width: 50%;
}
.four .photo img{
    width: 100%;
    height: 100%;
}
.fifth{
    padding: 20px;
    background-color: #f9f9fa;
}
.fifth .heading{
    /* background-color: aqua; */
    text-align: center;
}
.fifth .heading h1{
    color: #858ea1; 
    font-size: 28px;   
    text-shadow: 200px #858ea1 ;
}
.fifth .heading h2{
font-size: 15px;
margin-top: 28px;
margin-bottom: 38px;
color: #858ea1;
}
.fifth .service{
/* padding-left: 20px;
padding-right: 20px; */
display: flex;
flex-wrap: wrap;
margin: auto;
justify-content: space-between;
width: 90%;

}
.fifth .service .item{
    width: 22%;
    background-color:#fff ;
    /* background-color: red; */
    border: 1px solid #f9f9fa;
    border-radius: 4px;
    padding-bottom: 28px
    ;
    padding-top: 12px;
    margin-bottom: 25px;
    text-align: center;


}
.fifth .service .item i{
    color: #01b8dc;
    padding-bottom: 8px;
    padding-bottom: 19px;
}
.fifth .service .item h1:hover{
    color: #01b8dc; 
}
.fifth .client{
    text-align: center;
    padding: 40px;
    
}
.fifth .client h1{
    color: #858ea1; 
    font-size: 28px; 
    margin-top: 55px;
}
.fifth .client h2{
    font-size: 15px;
    margin-top: 28px;
    margin-bottom: 40px;
}
.sixth{
    width: 85%;
    margin: auto;
}
.six{
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
}
.sixth .contact{
    text-align: center;
    /* padding: 40px; */
    
}
.sixth .contact h1{
    color: #858ea1; 
    font-size: 28px; 
    margin-top: 55px;
    text-align: center;
}
.sixth .contact h2{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 2px;
    direction: rtl;
}

.six .form{
    background-color: #f9f9fa;
    width: 45%;
    border-top: 3px solid #01b8dc;
    border-bottom: 3px solid #01b8dc;
    /* padding-left: 22px;
    padding-right:22px ; */
}
.six .form .first input{
    border-radius: 4px #fff; 
    width: 90%;
    height: 35px;
    float: right;
    margin-bottom: 22px;
    /* margin-left: 250px; */

}

.six .form .first{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 22px;

}

.six .form .first  label{
    float: right;
    margin-bottom: 10px;

}
.six .form .first .name{
    width: 50%;
   
}
.six .form .first .name input{
    margin-left:250px ;
    
}
.six .form .first .email input{
margin-left: 250px;
}
.six .form .first .email{
    width: 50%;
   
}
.six .form  .title label{
    float: right;
    margin-bottom: 4px;

}
.six .form  .title input{
    float: right;
    height: 30px;
    width: 96%;
    border-radius: 4px #fff; 
    margin-bottom: 13px;
}
.six .form .msg{
   margin-top: 7px;
}
.six .form .msg label{
    float: right;
    margin-top: 7px;
    margin-bottom:1px ;
}
.six .form .area{
    float: right;
    margin-top: 2px;
    margin-bottom: 15px;
}
.form .send {
    text-align: center;
}
.form .send button{
    background-color: #01b8dc;
text-align: center;
font-size: 18px;
 border-radius: 4px  ;
border: 1px; 
color:#fff;
padding: 10px 25px;



/* overflow: auto; */
}
.form .clear{
    clear: both;
}
    /* margin-left: 290; */
    /* width: 80%;
} */

.six .location{
    width: 40%;
    /* background-color: #f9f9fa; */
    border-top: 3px solid #01b8dc;
    border-bottom: 3px solid #01b8dc;

}
.six .location .addresinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 33px;

}
.six .location .addresinfo .addrees{
    float: right;
    direction: rtl;
    width: 50%;

  /* background-color: red; */
}
.six .location .addresinfo .addrees h1{
    margin-right: 22px;
    font-size: 20px;
}
.six .location .addresinfo .addrees h2{
    font-size: 14px;
    color: #858ea1;
    margin-right: 24px;
}
.six .location .addresinfo .add{
    /* float: left; */
    width: 50%;
    /* background-color: blue; */
}
.six .location .addresinfo .add i{
    color: #01b8dc;
    margin-left: 24px;
}
.location .mail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.location .mail .emaillogo{
    width: 50%;
    margin-top: 35.5px;
}
.location .mail .emaillogo i{
    color: #01b8dc;
    margin-left: 24px;
}
.location .mail .email{
    width: 50%;
    direction: rtl;
    /* margin-right: 24px; */
    margin-top: 34px;

}
.location .mail .email h1{
    margin-right: 22px;
    font-size: 20px; 
}
.location .mail .email h2{
    font-size: 14px;
    color: #858ea1;
    margin-right: 24px;
}

.location .phone{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.location .phone .phlogo{
    width: 50%;
    margin-top: 35.5px;
}
.location .phone .phlogo i{
    color: #01b8dc;
    margin-left: 25px;
}
.location .phone .number{
    width: 50%;
    direction: rtl;
    /* margin-right: 24px; */
    margin-top: 34px;

}
.location .phone .number h1{
    margin-right: 22px;
    font-size: 20px; 
}
.location .phone .number h2{
    font-size: 14px;
    color: #858ea1;
    margin-right: 24px;
}
.location .map{
    margin-top: 20px;
    text-align: center;
}
.seven{
    padding: 80px;
}
.seven .logo{
    text-align: center;
    /* font-size: 22px; */
    margin-bottom: 28px;
   color:  #5f687b;
   font-size: 25px;
    /* font-weight: 700; */
    /* color: #858ea1 */
}

.seven .icons{
    width: 20%;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 555px;
    justify-content: space-evenly;
}
.seven .icons .endicons{
    text-align: center;
    background-color: #f9f9fa;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background: #eaecef; */
    color: #5f687b;
    border-radius: 4px;
}
.eight hr{
    margin-top: 180;
  color:   #f9f9fa;
  margin-bottom: 50px;
}
.eight .footer span{
    color: #5f687b;
    font-size: 12px;
    font-weight: bolder;
}
.eight .footer h1{
    color: #5f687b;
    margin-bottom: 50px;
    font-size: 12px;
}


